.togglerContainer{
  display: flex;
}
.togglerContainer>.togglerItem:first-child{
  border-radius: 5px 0 0 5px;
}
.togglerContainer>.togglerItem:last-child{
  border-radius: 0 5px 5px 0;
}
.togglerItem{
  padding: 5px 20px;
  box-sizing: border-box;
  background: #eee;
}
.togglerItem.active{
  background: #11e226;
}
